#sizeTa {
    position: relative;
    display: inline-block;
    bottom: 30px;
}

#generateBtn {
    position: relative;
    display: inline-block;
    right: 180px;
    width: 180px;
}

#container {
    display: inline-block;
    position: relative;
    top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 900px;
    border: solid 6px;
    padding: 1px;
}

#container div {
    display: inline-block;
    vertical-align: top;
    border: solid 0.1px;
    padding: 0;
    margin: 0;
}